.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  &__pages {
    display: flex;
  }

  &__page {
    width: 40px;
    height: 40px;
    border: 1.5px solid $pagination-page-border;
    background: none;
    cursor: pointer;

    &--active {
      background: $brand;
      color: white;
      border: 1px solid transparent;
    }
  }

  &__arrow {
    height: 42px;
    width: 38px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;

    &--disabled {
      color: $pagination-arrow-disabled;
      cursor: not-allowed;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
