$border-radius: 10px;

$white: #ffffff;

$brand: #b5460f;
$brand-hover: #b5460fb2;
$brand-active: #872d01;
$light-bg: #ffc0763b;

$pagination-page-border: #f7e8d7;
$pagination-arrow-disabled: #afadb5;

$loader-bg: $brand;

$text-primary: #000000;
$text-secondary: #afadb5;
$text-accent: $brand;

$button-primary-text: #ffffff;
$button-primary-text-hover: #ffffff;
$button-primary-text-disabled: #ffffff;
$button-primary-text-active: #ffffff;
$button-primary-bg: $brand;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-bg-hover: $brand-hover;
$button-primary-bg-active: $brand-active;

$input-placeholder: #afadb5;
$input-border: #ffffff;
$input-text: #000000;
$input-border-focus: $brand;
$input-border-disabled: #ffffff;
$input-text-focus: $text-primary;
$input-text-disabled: #00000033;
$input-bg: #ffffff;
$input-bg-focus: #ffffff;
$input-bg-disabled: #ffffff;

$dropdown-options-bg: #ffffff;

$card-bg: #ffffff;
$card-image-bg: #d9d9d9;

$checkbox-border: #ffffff;
$checkbox-bg: #ffffff;
$checkbox-border-hover: $brand;
$checkbox-bg-hover: #ffffff;
$checkbox-bg-disabled: #ffffff80;
$checkbox-border-disabled: #ffffff00;
$checkbox-check-disabled: #00000033;
$checkbox-check-hover: $brand;
$checkbox-check: $brand;

$breakpoint-x: 944px;
$breakpoint-l: 768px;
$breakpoint-m: 576px;
$breakpoint-s: 480px;
$breakpoint-xs: 375px;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
$shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
