.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 200px;
  background-color: $card-bg;
  gap: $space-xl;
  padding-top: $space-xl;
  padding-bottom: $space-xl;
  border-radius: $border-radius;
  overflow: hidden;
  height: 100%;
  &:hover {
    .slider {
      opacity: 1;
    }
  }

  &__header {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    min-height: 348px;
    max-height: 360px;
    width: 100%;
    background-color: $card-image-bg;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: $space-l;
    padding: 0 $space-xs;
    justify-content: space-between;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $space-xxs;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-xxs;
  }

  &__content {
    display: flex;
    gap: $space-xs;
    align-items: center;
  }
}
