.categories {
  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 3rem;
  }

  &__card {
    cursor: pointer;
    transition: transform 0.25s;

    &:hover {
      transform: scale(1.01);
    }
  }
}
