.header {
  background-color: $white;

  &__wrapper {
    @include wrapper;
    & {
      height: 64px;
      display: flex;
      align-items: center;
    }
  }

  &__map {
    display: flex;
    align-items: center;
    margin-right: 80px;
  }

  &__link-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: $space-l;
  }

  &__link {
    text-decoration: none;
    transition: opacity 0.15s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }

  &__navigate {
    display: flex;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: $space-m;
    padding: 0;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-left: auto;
  }

  &__icon-link {
    color: $brand;
    &:hover {
      color: $brand-hover;
    }
    &:active {
      color: $brand-active;
    }
  }
}

@media screen and (max-width: $breakpoint-x) {
  .header__map {
    margin-right: 40px;
  }

  .header__link-logo {
    gap: $space-m;
  }

  .header__actions {
    gap: 10px;
  }
}

@media screen and (max-width: $breakpoint-l) {
  .header__map {
    gap: 40px;
    margin: 0;
  }

  .header__link-logo {
    gap: $space-m;
  }

  .header__actions {
    gap: 10px;
  }
}

@media screen and (max-width: $breakpoint-m) {
  .header__map {
    gap: 20px;
  }

  .header__link-logo {
    gap: $space-s;
  }

  .header__actions {
    gap: 5px;
  }
}

@media screen and (max-width: $breakpoint-l) {
  .header__map {
    justify-content: space-between;
    width: 100%;
  }

  .header__link-logo {
    gap: $space-xs;
  }
}

.burger {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 19px;
  background: transparent;
  border: none;
  padding: 0;
  z-index: 100;

  &__line {
    width: 100%;
    height: 3px;
    background-color: $brand;
    transition: 0.3s ease;
  }

  &_open .burger__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  &_open .burger__line:nth-child(2) {
    opacity: 0;
  }
  &_open .burger__line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}

@media screen and (max-width: $breakpoint-l) {
  .burger {
    display: flex;
    margin-right: $space-s;
  }

  .header__navigate {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    background: $white;
    flex-direction: column;
    align-items: center;
    padding: $space-l 0;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
    z-index: 90;

    &.active {
      transform: translateY(0);
    }
  }

  .header__nav-list {
    flex-direction: column;
    gap: $space-l;
  }

  .header__actions {
    position: fixed;
    bottom: $space-l;
    left: 50%;
    transform: translateX(-50%);
    gap: $space-l;
    background: $white;
    padding: $space-s;
    border-radius: 8px;
    z-index: 95;
  }
}
