.dropdown {
  position: relative;

  &__menu {
    position: absolute;
    background-color: $dropdown-options-bg;
    width: 100%;
    box-shadow: $shadow;
    top: 52px;
    margin-top: $space-xxs;
    border-radius: $border-radius;
    max-height: 360px;
    overflow: scroll;
  }

  &__option {
    padding: $space-s $space-xs;
    cursor: pointer;
  }

  &__option p {
    transition: color 0.15s ease-in-out;
  }

  &__option:not(.dropdown__option--selected):hover p {
    color: $text-secondary;
  }

  &__option--selected p {
    color: $text-accent;
  }

  &__input--focus {
    border-color: $input-border-focus;
  }
}
