@import '@app/styles/variables.scss';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: var(--spacing-md);
  background-color: var(--color-primary);
  color: white;
}

.main {
  flex: 1;
  padding: var(--spacing-md);
} 